* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Container {
  width: 500px;
  padding: 30px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  background-color: rgb(110, 13, 146);
}

h3 {

  margin-bottom: 20px;
  font-style: 24px;
  color: white;
  /* padding-top: 10px; */
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
}
#submit {
  border: none;
  background-color: rgb(171, 59, 227);
  color: white;
  width: 200px;
  margin-top: 10px;
  border-radius: 5px;
}

#submit:hover {
  background-color: #9707f7;
  color: white;
}
.images {
  margin-left: 4rem;
  margin-top: -1rem;
}
